.about-me {
    margin: 30px auto;

    & .container {
        justify-content: center;

        @include mq(tablet-large) {
            justify-content: space-between;
        }
    }

    &__title {
        margin: 20px auto;
        flex-basis: 100%;
        text-align: center;
    }

    &__image {
        max-width: 250px;
        flex-basis: 100%;
        border-radius: 50%;

        @include mq(tablet-large) {
            flex-basis: 40%;
            // max-width: 400px;
        }
    }

    &__text {
        flex-basis: 100%;
        margin: 0 20px;
        text-align: center;

        @include mq(tablet-large) {
            flex-basis: 60%;
            text-align: left;
        }

        & p {
            margin: 30px 0;
        }
    }
        
}