.about-me {
    margin: 30px auto;

    &__title {
        margin: 20px auto;
        flex-basis: 100%;
        text-align: center;
    }

    &__image {
        max-width: 400px;
        flex-basis: 40%;
        border-radius: 25px;
    }

    &__text {
        flex-basis: 60%;
        margin: 0 20px;

        & p {
            margin: 20px 0;
        }
    }
        
}