.contact {

    &__title {
        flex-basis: 100%;
        text-align: center;
    }

    &__text {
        flex-basis: 100%;
        text-align: center;

        margin: 20px 0;
    }

    &__info {
        font-size: 1.25rem;
        color: $font-color-default;
        text-decoration: none;
        margin: 20px auto;


        & i {
            margin-right: 5px;
            min-width: 30px;
        }
    }

    &__mail {

    }

    &__localization {

    }

    &__phone {

    }

    &__data {
        flex-basis: 30%;
    }

    &__form {
        display: flex;
        flex-basis: 70%;
        flex-direction: column;
        align-items: flex-start;

        margin: 30px 0;
        padding: 30px;

        border: 1px solid $main-color;
    }

    &__form-title {
        padding: 20px 0;
        width: 100%;
    }

    &__label {
        margin: 10px 0;
    }

    &__input {
        min-height: 30px;
        border: none;
        border-bottom: 1px solid $main-color;
        width: 100%;
        padding: 5px;

        &:focus {
            outline-color: $main-color;
        }
    }

    &__area {
        max-width: 100%;
        min-height: 100px;
        resize: vertical;
    }

    &__btn {
        font-size: 1rem;
        margin: 10px 0;

        & i {
            margin-right: 5px;
            color: $main-color;
        }

        &:hover i {
            color: $color-white;
        }
    }
}