.footer {
    padding: 20px 0;
    background-color: $main-color;

    & .container {
        margin-top: -15px;
        justify-content: center;

        @include mq(smartphone) {
            justify-content: space-between;
        }
    }

    &__copyright {
        color: $color-white;
        margin-top: 15px;
    }

    &__links {
        margin-top: 15px;
        padding-right: 10px;
    }

    &__link {
        
        & i {
            font-size: 1.25rem;
            color: $color-white;
            margin-left: 10px;

            &:hover {
                color: $font-color-default;
            }
        }
    }
}