.footer {
    padding: 20px 0;
    background-color: $main-color;

    &__copyright {
        color: $color-white;
    }

    &__links {

    }

    &__link {
        
        & i {
            font-size: 1.25rem;
            color: $color-white;
            margin-left: 10px;

            &:hover {
                color: $font-color-default;
            }
        }
    }
}