.skills {
    width: 100%;
    padding: 30px 0;

    & .container {
        justify-content: center;
    }

    &__title {
        color: $color-white;
        flex-basis: 100%;
        text-align: center;
        margin: 20px auto;
    }

    &__sub-title {
        flex-basis: 100%;
        text-align: center;
    }

    &__methods {
        
    }

    &__skill {
        position: relative;
        flex-basis: 25%;
        margin-bottom: 30px;
        text-align: center;

        & i {
            font-size: 120px;
            color: #333;
        }
    }

    &__image {
        max-width: 150px;
    }

    &__name {
        color: $main-color;
        font-weight: 700;
        margin: 15px 0;
    }

    &__grade {
        font-size: 1.25rem;
        
        &:hover {
            color:#FFD700;
        }
    }
}