@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

$font-family-default: 'Montserrat', sans-serif;
$font-color-default: #333;
$main-color: #2cb66a;
$color-white: #fff;
$menu-link-color: #fff;

$breakpoints: (
    smartphone: (min-width: 460px),
    smartphone-large: (min-width: 640px),
    tablet: (min-width: 800px),
    tablet-large: (min-width: 1024px),
    desktop-small: (min-width: 1280px),
    desktop-medium: (min-width: 1600px),
    desktop-large: (min-width: 1900px),
);