@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background: none;
  cursor: pointer;
}

@-webkit-keyframes cursor {
  0%,
  30% {
    opacity: 0;
  }
  70%,
  100% {
    opacity: 1;
  }
}

@keyframes cursor {
  0%,
  30% {
    opacity: 0;
  }
  70%,
  100% {
    opacity: 1;
  }
}

html {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 14px;
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

a {
  color: #2483d1;
}

a:hover {
  color: #2cb66a;
}

h2 {
  font-size: 2.8rem;
  margin: 20px auto 30px;
}

.header {
  position: relative;
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  background-image: url(/assets/img/hero.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 70vh;
  width: 100%;
}

.header__title {
  color: #fff;
  font-size: 2.5rem;
}

@media (min-width: 1024px) {
  .header__title {
    font-size: 3rem;
  }
}

.header__title > span {
  color: #2cb66a;
}

.header__sub-title {
  font-size: 3rem;
  color: #fff;
}

@media (min-width: 1024px) {
  .header__sub-title {
    font-size: 4rem;
  }
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu--fixed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  z-index: 998;
}

.menu--fixed .menu__link {
  color: #333;
}

.menu--fixed .hamburger__bars {
  background-color: #333;
}

.menu--fixed .hamburger__bars:before, .menu--fixed .hamburger__bars:after {
  background-color: #333;
}

.menu__items {
  background-color: #fff;
  -webkit-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.menu__items--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100%;
  left: -15px;
  width: calc(100% + 30px);
}

@media (min-width: 1024px) {
  .menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.menu__item {
  margin: 10px 20px;
}

@media (min-width: 1024px) {
  .menu__item {
    margin: 40px 20px;
  }
}

.menu__link {
  color: #333;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.menu__link:hover {
  color: #2cb66a;
}

@media (min-width: 1024px) {
  .menu__link {
    color: #fff;
  }
}

.hamburger {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.hamburger:focus > .hamburger__container {
  -webkit-box-shadow: 0 0 2px 2px #51a7e8;
          box-shadow: 0 0 2px 2px #51a7e8;
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}

.hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}

.hamburger__bars {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 220ms ease-in-out;
  transition: -webkit-transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out;
  transition: transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger__bars:before, .hamburger__bars:after {
  display: block;
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #fff;
  content: '';
}

.hamburger__bars:before {
  top: -12px;
  -webkit-transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger__bars:after {
  bottom: -12px;
  -webkit-transition: bottom 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, -webkit-transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out, -webkit-transform 220ms ease-in-out;
}

.hamburger--active .hamburger__bars {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: -webkit-transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out;
  transition: transform 220ms 120ms ease-in-out, -webkit-transform 220ms 120ms ease-in-out;
}

.hamburger--active .hamburger__bars:before {
  top: 0;
  -webkit-transition: top 100ms ease-out;
  transition: top 100ms ease-out;
}

.hamburger--active .hamburger__bars:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 100ms ease-out, -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, -webkit-transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out, -webkit-transform 220ms 120ms ease-in-out;
}

.hamburger:focus,
.hamburger__container:focus {
  outline: none;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 36px;
  height: 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  opacity: .5;
}

.scroll-down::before {
  content: '';
  width: 100%;
  height: 100%;
  border-width: 4px 4px 0 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  display: block;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.scroll-down:after {
  content: '';
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 4px 0 0;
  border-style: solid;
  border-color: #fff;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.scroll-down:hover::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: #2cb66a;
  height: 120%;
}

.scroll-down:hover::before {
  border-color: #2cb66a;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.about-me {
  margin: 30px auto;
}

.about-me .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1024px) {
  .about-me .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about-me__title {
  margin: 20px auto;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.about-me__image {
  max-width: 250px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .about-me__image {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.about-me__text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 20px;
  text-align: center;
}

@media (min-width: 1024px) {
  .about-me__text {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    text-align: left;
  }
}

.about-me__text p {
  margin: 30px 0;
}

.skills {
  width: 100%;
  padding: 30px 0;
}

.skills__gold-star {
  color: #FFD700;
}

.skills .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.skills__sub-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 20px 0;
  text-align: center;
}

.skills__methods {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  font-style: italic;
}

.skills__skill {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 30px;
}

@media (min-width: 640px) {
  .skills__skill {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    min-height: 250px;
  }
}

@media (min-width: 800px) {
  .skills__skill {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

@media (min-width: 1024px) {
  .skills__skill {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
}

.skills__skill i {
  font-size: 120px;
  color: #333;
}

.skills__skill--hidden {
  display: none;
}

.skills__image {
  max-width: 150px;
}

.skills__name {
  color: #2cb66a;
  font-weight: 700;
  margin: 15px 0;
}

.skills__grade {
  font-size: 1.25rem;
}

.portfolio {
  margin: 30px auto;
}

.portfolio .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.portfolio__project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 500px;
  margin: 20px 20px;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  -webkit-transition: -webkit-transform .2s linear 0s;
  transition: -webkit-transform .2s linear 0s;
  transition: transform .2s linear 0s;
  transition: transform .2s linear 0s, -webkit-transform .2s linear 0s;
}

@media (min-width: 1024px) {
  .portfolio__project {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media (min-width: 1280px) {
  .portfolio__project {
    -ms-flex-preferred-size: 29%;
        flex-basis: 29%;
  }
}

.portfolio__project:hover {
  overflow: hidden;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
          box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125);
}

.portfolio__project:hover .portfolio__desc {
  opacity: 1;
  visibility: visible;
  top: 50%;
}

.portfolio__desc {
  padding: 30px 20px;
}

.portfolio__project-title {
  font-size: 20px;
}

.portfolio__project-desc {
  font-size: 0.875rem;
  margin: 15px 0;
}

.portfolio__technologies-title {
  font-size: 1rem;
}

.portfolio__technologies-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__technologies-item {
  margin: 10px 5px 0px;
  font-size: 0.875rem;
}

.portfolio__technologies-item:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0a9";
  color: #2cb66a;
  font-weight: 600;
  margin-right: 5px;
}

.portfolio__image {
  border-radius: 20px;
  max-width: 100%;
}

.portfolio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.portfolio__buttons .btn {
  margin: auto 5px;
}

.portfolio__buttons .btn i {
  color: #2cb66a;
  margin-right: 5px;
}

.portfolio__buttons .btn:hover i {
  color: #fff;
}

.contact__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.contact__text {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin: 20px 0;
}

.contact__info {
  font-size: 1.25rem;
  color: #333;
  text-decoration: none;
  margin: 20px auto;
}

.contact__info i {
  margin-right: 5px;
  min-width: 30px;
}

.contact__data {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

@media (min-width: 1024px) {
  .contact__data {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: left;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 30px 0;
  padding: 30px;
  border: 1px solid #2cb66a;
}

@media (min-width: 1024px) {
  .contact__form {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

.contact__form-title {
  padding: 20px 0;
  width: 100%;
}

.contact__label {
  margin: 10px 0;
}

.contact__input {
  min-height: 30px;
  border: none;
  border-bottom: 1px solid #2cb66a;
  width: 100%;
  padding: 5px;
}

.contact__input:focus {
  outline-color: #2cb66a;
}

.contact__area {
  max-width: 100%;
  min-height: 100px;
  resize: vertical;
}

.contact__btn {
  font-size: 1rem;
  margin: 10px 0;
}

.contact__btn i {
  margin-right: 5px;
  color: #2cb66a;
}

.contact__btn:hover i {
  color: #fff;
}

.footer {
  padding: 20px 0;
  background-color: #2cb66a;
}

.footer .container {
  margin-top: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 460px) {
  .footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__copyright {
  color: #fff;
  margin-top: 15px;
}

.footer__links {
  margin-top: 15px;
  padding-right: 10px;
}

.footer__link i {
  font-size: 1.25rem;
  color: #fff;
  margin-left: 10px;
}

.footer__link i:hover {
  color: #333;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2cb66a;
  border-radius: 25px;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: 0 15px;
}

.page-container {
  margin: 0 auto;
  max-width: 1920px;
  background-color: #fff;
  overflow: hidden;
}

.btn {
  border: 1px solid;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn--primary {
  color: #2cb66a;
  border-color: #2cb66a;
}

.btn--primary:hover {
  background-color: #2cb66a;
  color: #fff;
}

.cursor::after {
  content: "|";
  -webkit-animation: cursor .4s infinite alternate;
          animation: cursor .4s infinite alternate;
}
